body {
    background-color: #A5F1E9;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    color: #472D2D;
}
header {
    height: 250px;
}
.title-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 30px;
}
#rock,#scissors, #paper {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 3px solid #472D2D;
    background-color: #A5F1E9;
    transition: transform 0.3s;
}
i {
    font-size: 75px;
    color: #472D2D;
}
#scissors i {
    transform: rotate(90deg);
}
.score {
    display: flex;
    justify-content: center;
    gap: 50px;
}
#newGame {
    width: 200px;
    height: 100px;
    margin-top: 40px;
    background-color: #A5F1E9;
    border: 3px solid #472D2D;
    color: #472D2D;
    font-weight: bolder;
    border-radius: 10px;
    transition:  transform 0.3s;
    display: none;
    font-size: larger;
}
.click {
    box-shadow: -1px 2px 16px 14px #472D2D;
}
button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#result {
    font-size: 20px;
}